{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Patchman</title>
<link rel="stylesheet" type="text/css" href="{% static 'blogservice/main.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src='https://www.google.com/recaptcha/api.js?render=6LdKm8gZAAAAAKaO6Iga-io9HmNrF8Z7X5hxT7iU'></script>
</head>
<body>
   <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <div class="container">
  <a class="navbar-brand" href="#">Patchman Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home">Posts</a>
      </li>
     
      
    </ul>
    <form class="form-inline my-2 my-lg-0">

      <a href="/admin" class="btn btn-outline-success my-2 my-sm-0"> Login</a>
    </form>
  </div>
  </div>
</nav>
    <div class="container body-content">
  <br>
       {% block content %}

       {% endblock %}
    <br>
    <br>
        <hr />
        <footer>
            <p>{% now "SHORT_DATETIME_FORMAT" %} </p>
        </footer>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker(); //Initialise any date pickers
        });
    </script>



    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true
            });
        });
    </script>


    <script>
        $(function () {
            $("#normaldropdown").chosen();
        });
    </script>

</body>
</html>