{% extends "blogservice/base.html" %}
{% block content %}
  <h1 class="display-4">Welcome to Patchman's Blog</h1>
  <p class="lead">Look what we have for you today....</p>
  <hr class="my-4">


<div class="row">
<div class="col-md-12">
    {% if posts %}
        {% for post in posts %}
<div style="border-radius:3px;" class="card bg-lightgray">
  <div class="card-header">
    <span style="color:green" class="card-title"> {{post.title}} </span>
  </div>
  <div class="card-body">

    <p class="card-text limit-character">{{post.content}}</p>

    <small class="">{{post.date_posted|date:"d F, Y"}}

        | <i class="fa fa-comments" aria-hidden="true"></i> replies: {{ post.replies.all|length }} |
        <span class="text-small text-secondary">By {{post.author}}</span></small>
      <br>
      <br>
    <a href="/post_details/{{ post.id }}/" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Read more..</a>
  </div>
</div>
<br>
{% endfor %}

{% else %}
        <div class="alert alert-primary" role="alert">
  Ooops! sorry we have no Posts for you today.
</div>
    {% endif %}

{% endblock %}

</div>

</div>
