{% extends "blogservice/base.html" %}

{% block content %}
    <script>
  /*global grecaptcha*/
  grecaptcha.ready(function() {
      grecaptcha.execute('6LdKm8gZAAAAAKaO6Iga-io9HmNrF8Z7X5hxT7iU', {action: "post_details/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
  });
</script>
    <h3 class="text-primary">Post Details - {{ detail.title }} </h3>
<div class="row">
<div class="col-md-12">

<div style="border-radius:3px;" class="card bg-lightgray">

  <div class="card-body">

    <p class="card-text">{{detail.content}}</p>
    <br>
   <small class="">{{detail.date_posted|date:"d F, Y"}} | <span class="text-small text-secondary">By {{detail.author}}</span></small>
      <br>

  </div>
</div>
<br>

<p>Replies</p>
<hr />
    {% for reply in replies %}

          <div class="alert alert-info" role="alert">
      {{reply.comment}}
    <div class="float-right">
        <small><i class="fa fa-user"></i> {{ reply.posted_by.username }} | {{reply.date_posted|date:"d F, Y"}}</small>

    </div>
</div>
         {% empty %}
             <div class="alert alert-primary" role="alert">
No comments...
</div>

    {% endfor %}


<br>
{#add comment section#}
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add a comment
</button>
<br>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add comment as Guest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form method="POST">
             {% csrf_token %}

      <div class="modal-body">
         {% if messages %}
                {% for message in messages %}

                   <div class="alert alert-primary" role="alert">
                        {{message}}
</div>
                {% endfor %}
            {% endif %}
         <div class="form-group">
               {{ form.as_p }}
           <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
      </div>


      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit">

      </div>
    </div>
        </form>
  </div>
</div>

</div>

</div>

{% endblock %}